.App {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  grid-template-rows: 1fr 1fr 5fr;
  grid-template-areas: 
    "banner banner banner"
    "events header header"
    "events sponsored location";
}

.App-header-with-logo {
  background-color: brown;
  grid-area: header;
}

.App-banner {
  background-color:cadetblue;
  grid-area: banner;

}
.App-event-list {
  background-color:darkgoldenrod;
  grid-area: events;
}

.App-sponsored-events {
  background-color:deepskyblue;
  grid-area: sponsored;


}
.App-location {
  background-color: yellow;
  grid-area: location;
}